<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <style>table th, table td {
        padding: 5px;
    }

    </style>
</head>
<body>
<h1>Users</h1>
<table th:border="2">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>Email</th>
        <th>age</th>
        <th>password</th>
        <th>role</th>

        <th></th>
        <th></th>
    </tr>
    <tr th:each="user : ${users}">
        <td><a th:href="@{/user_id/{id}(id=${user.id})}" th:text="${user.getId()}">user</a></td>
        <td><a th:href="@{/user_id/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a></td>
        <td><a th:href="@{/user_id/{id}(id=${user.getId()})}" th:text="${user.getEmail()}">user</a></td>
        <td><a th:href="@{/user_id/{id}(id=${user.getId()})}" th:text="${user.getAge()}">user</a></td>
        <td><a th:href="@{/user_id/{id}(id=${user.getId()})}" th:text="${user.getPassword()}">user</a></td>
        <td
                th:block th:each="role : *{user.getRoles()}">
            &nbsp;<span th:text="${role.name}"/>
        </td>
        <td><a th:href="@{/edit/{id}(id =${user.getId()})}">edit</a></td>
        <td><a th:href="@{/user_id/{id}(id =${user.getId()})}">delete</a></td>


    </tr>


</table>
<br/>

<button onclick="window.location.href = '/logout';">logout</button>
</body>
</html>